@use '../../../app/_styles/resp-font' as *;

.slogan {
  margin-top: 30px;
}

.title {
  @include resp-font(30, 58);
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primaryTitle);
  text-align: center;
  letter-spacing: -1px;
  z-index: 2;
}

.email {
  @include resp-font(25, 58);
  font-family: 'DM Sans', sans-serif;
  color: transparent;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1px;
  z-index: 2;
  background-image: linear-gradient(90deg, var(--accent), var(--contactColor));
  -webkit-background-clip: text;
}

.flexWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}
