:root {
  --color-primary: #0070f3;
  --font-base: 'Inter', sans-serif;

  --primaryBg: #fff;

  --primaryTitle: #42446e;
  --secondaryTitle: #404040;

  --primaryTextColor: #404040;
  --secondaryTextColor: #4a4a4a;

  --accent: #004219;
  --buttonBg: #d7ffe0;
  --borderColor: #004219;

  --worksCards: #000000;

  --contactColor: #1e0e62;

  --tablet: 'screen and (max-width:768px)';
  --mobile: 'screen and (max-width:576px)';

  --slowTransition: 0.4s;
  --fastTransition: 0.2s;
  --burgerTransition: 1s;
}
